
.innerBody {
    background-color: lightgray;
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Comic Sans MS";
    height: 100vh;
    overflow: auto;
}


/* make screen non selectable */
::selection {
    color: none;
    background: none;
}

img {
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

/* flexbox */
#game {
    display: grid;
    grid-template-columns: auto auto auto;
    margin: auto;
    margin-top: 100px;
    width: 60vw;
    height: 70vh;
    grid-column-gap: 30px;
    align-items: center;
    justify-items: center;
    border: solid 1px black;
    padding-top: 100px;
    background-color: #3b563f;
    border-radius: 25px;
}

#game.noshow div{display:none;}

.grid-item {
    padding: 20px;
}

.mole {
    height: 100px;
    visibility: hidden;
}

/* Different Mole Types */
.redMole {
    content: url("../images/redMole.svg");
}

.yellowMole {
    content: url("../images/yellowMole.svg");
}

.dirt {
    position: absolute;
    height: 100px;
    width: 150px;
    z-index: 10;
    background-image: url("../images/dirt.svg");
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;

}


@media (max-width: 1224px) {
    .dirt {
        background-size: auto 75px;
        background-repeat: no-repeat;
    }

    .mole {
        height: 75px;
    }
}


.alive {
    visibility: visible;
    position: relative;
    animation-name: moleRising;
    animation-duration: 2s; /* set in js when doing difficulties */
    animation-fill-mode: forwards;
    z-index: 1;
}

@keyframes moleRising {
    from {
        bottom: 0%;
    }
    50% {
        bottom: 50%; /* also depending on height */
    }
    to {
        bottom: 0%;
        visibility: hidden;
    }
}


#timer {
    position: absolute;
    height: 10vh;
    width: 10vw;
    right: calc(20vw - 300px);
    border: 2px solid black;
    border-radius: 25px;
    top: 20vh;
}

#pointsCounter {
    position: absolute;
    height: 100px;
    width: 200px;
    right: calc(20vw - 300px);
    top: 32vh;
    border: 2px solid black;
    border-radius: 25px;
}

.audioControllers {
    position: absolute;
    height: 100px;
    width: 200px;
    right: calc(20vw - 300px);
    top: 44vh;
    border: 2px solid black;
    border-radius: 25px;
    text-align: center;
    align-items: center;
    justify-content: center;

}

.muteButton {
    width: 100px;
    height: 50px;
    border: 1px solid black;
    font-size: 15px;
}

.muteButton img {
    max-width: 100%;
    max-height: 100%;
}

/*todo: change to the right place */
#additionalItems {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    line-height: 100px;
    font-family: "Comic Sans MS";
    display: table;
}


/* Buttons */
#buttons {
    width: 200px;
    height: 200px;
}

#buttons button {
    width: 200px;
    height: 100px;
    border: 1px solid black;
    font-size: 25px;
}

button:hover {
    background-color: lightgray;
}

#buttons, #endArea {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: 20%;
    z-index: 10;
    font-family: "Comic Sans MS";

}

#endArea {
    width: 200px;
    top: 40%;
    height: 200px;
    z-index: 100;
    text-align: center;
    display: none;
}

#endButton {
    width: 200px;
    height: 100px;
    border: 1px solid black;
    font-size: 25px;
}
