header {
    font-family: "Comic Sans MS";
    position: absolute;
    top: 0;
    width: 100%;
}

header .myNavbar {
    background-image: url("../images/sky.jpg");
    background-color: #2aabd2;
    border-color: #04D5FE;
    background-blend-mode: screen;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

footer {
    position: absolute;
    color: white;
    bottom: 0px;
    width: 100%;
    background-image: url("../images/footerDirt.jpg");
    background-repeat: no-repeat;
    height: 60px;
    background-size: cover;
    background-position: center;
    padding-left: 20px;
    padding-top: 20px;
    font-family: "Comic Sans MS";
    font-size: 15px;
}
