header {
    position: absolute;
    top: 0;
    width: 100%;
}

.home_main {
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}


.home_inner {
    background-size: 100%;
    background-image: url("../images/erde.png");
    background-repeat: no-repeat;
    width: 990px;
    margin: 0 auto;
    text-align: center;
    font-family: "Comic Sans MS";
    padding: 60px;
    color: white;
    height: 80%;
}


h1 {
    padding-bottom: 0px;
    font-size: 55px;
    text-transform:uppercase;
    font-weight: bold;
    padding-top: 20px;
}
.footer{
    position: absolute;
    bottom: 0px;
    width: 100%;
    background-image: url("../images/erde.png");
    background-repeat: no-repeat;
    height: 60px;
    background-size: cover;
    background-position: center;
}

h10{
    font-family: "Comic Sans MS";
    color: white;
    font-size: 15px;
    padding-left: 15px;
}

.buttons {
    color: black;
    font-size: 25px;
    border-color: white;
}


#start_game{
    width:200px;
    height: 100px;

}

#view_rules{
    width:200px;
    height: 100px;

}
#view_score{
    width:200px;
    height: 100px;

}

#start_game:hover{
    background-color: #CD853F;
    border-color: #CD853F;
}
#view_score:hover{
    background-color: #CD853F;
    border-color: #CD853F;
}
#view_rules:hover{
    background-color: #CD853F;
    border-color: #CD853F;
}


