body{
    background-image: url("../images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
h1{
    color: white;
    padding-bottom: 0px;
    font-size: 55px;
    text-transform: uppercase;
    font-weight: bold;
}
#main{
    background-image: url("../images/erde.png");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: "Comic Sans MS";
    color: white;
}
#main p{
    font-size: 120%;
    font-weight: bold;
    text-align: center;
}
#main button{
    font-family: "Comic Sans MS";
    font-weight: bold;
    font-size: 150%;
    text-align: center;
    display: inline-block;
    color: lightgray;
    border: none;
    border-radius: 20%;
    background-color: dimgray;
}
button:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.7), 0 6px 20px 0 rgba(0,0,0,0.4);
}
.row {
    display: inline-block;
    text-align: center;
}
p a{
    text-decoration: none;
    font-family: "Comic Sans MS";
    font-weight: bold;
    font-size: 150%;
    text-align: center;
    display: inline-block;
    color: lightgray;
    border: none;
    border-radius: 20%;
    background-color: dimgray;
}
p a:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.7), 0 6px 20px 0 rgba(0,0,0,0.4);
}
.btn-default{
    float: right;
    margin-bottom: 10px;
    margin-right: 10px;
}
.form-control{
    font-family: "Comic Sans MS";
    border: none;
    border-radius: 12px;
}
::placeholder{
    font-family: "Comic Sans MS";
    color: dimgray;
}
.close{
    text-align: center;
    display: inline-block;
    border: none;
    border-radius: 20%;
    background-color: dimgray;
}
.close:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.7), 0 6px 20px 0 rgba(0,0,0,0.4);
}
.footer{
    position: absolute;
    bottom: 0px;
    width: 100%;
    background-image: url("../images/erde.png");
    background-repeat: no-repeat;
    height: 60px;
    background-size: cover;
    background-position: center;
}