.login_main {
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
}
.login_inner {
    background-size: 100%;
    background-image: url("../images/erde.png");
    background-repeat: no-repeat;
    width: 990px;
    margin: 0 auto;
    text-align: center;
    font-family: "Comic Sans MS";
    padding: 60px;
    height: 80%;
    color: white;
}

h1 {
    padding-bottom: 0px;
    font-size: 55px;
    text-transform: uppercase;
    font-weight: bold;
}

a {
    color: #CD853F;
    font-weight: bold;
}

a:hover{
    color: #CD853F;
}

#username{
    width: 550px;
    position: absolute;
    left: 10%;
    top: 600%;
}
#password{
    width: 550px;
    position: absolute;
    left: 10%;
    top: 1600%;
}
#go_button{
    width: 160px;
    height: 60px;
    color: black;
    font-size: 25px;
    border-color: white;

}

#go_button:hover{
    color: saddlebrown;
    border-color: saddlebrown;
}

h4{
    font-size: 24px;
    padding-left: 8px;
}

h2{
    color:black;
    font-family: "Comic Sans MS";
    font-weight: bold;
}
.modal-content{
    background-image: url("../images/himmel.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


h5{
    color: black;
    font-family: "Comic Sans MS";

}