@font-face {
    font-family: "Nunito";
    src: url("../fonts/Nunito-Bold.ttf");
}


header {
    position: absolute;
    top: 0;
    width: 100%;
}

.score_main {
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}


.score_inner {
    background-size: 100%;
    background-image: url("../images/erde2.png");
    background-repeat: no-repeat;
    width: 990px;
    margin: 0 auto;
    text-align: center;
    font-family: Nunito;
    padding: 60px;
    color: white;
    height: 80%;
}

table {
    width: 355px;
    font-size: 20px;
}

h1 {
    padding-bottom: 0px;
    font-size: 55px;
    text-transform: uppercase;
    font-weight: bold;
}


th{
    text-align: center;
    padding-bottom:20px;
    font-size: 30px;
}

td {
    font-size: 25px;
    padding-left: 20px;
    text-align: left;
}

.tabelle1 {
    float: left;

}

.tabelle2{
    float: right;

}

.tabelle1_punkte{
    text-align: right;
    padding-right: 20px;
}


.tabelle2_punkte{
    text-align: right;
    padding-right: 20px;
}

.footer{
    position: absolute;
    bottom: 0px;
    width: 100%;
    background-image: url("../images/erde.jpg");
    background-repeat: no-repeat;
    height: 60px;
    background-size: cover;
    background-position: center;
}

h10{
    font-family: Nunito;
    color: white;
    font-size: 15px;
    padding-left: 15px;

}

.td_highscores:hover{
    color: #CD853F;
}

.td_userscores:hover{
    color: #CD853F;
}


