
.score_main {
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;

}


.score_inner {
    background-size: 100%;
    background-image: url("../images/erde.png");
    background-repeat: no-repeat;
    width: 990px;
    margin: 0 auto;
    text-align: center;
    font-family: "Comic Sans MS";
    padding: 60px;
    height: 80%;
    color: white;
}

table {
    width: 355px;
    font-size: 20px;

}

h1 {
    padding-bottom: 0px;
    font-size: 55px;
    text-transform: uppercase;
    font-weight: bold;
}


th{
    text-align: center;
    padding-bottom:20px;
    font-size: 30px;
}

td {
    font-size: 25px;
    padding-left: 20px;
    text-align: left;
}

.tabelle1 {
    float: left;
}

.tabelle2{
    float: right;
}

.tabelle1_punkte{
    text-align: right;
    padding-right: 20px;
}


.tabelle2_punkte{
    text-align: right;
    padding-right: 20px;
}


h10{
    font-family: "Comic Sans MS";
    color: white;
    font-size: 15px;
    padding-left: 15px;

}

.tr_highscores:hover{
    color: #CD853F;
}

.tr_userscores:hover{
    color: #CD853F;
}

.back_home {
    color: white;
    background-color: #CD853F;
    border-color: #CD853F;
    position: absolute;
    left: 77%;
    top: 22%;
}

.lastScore:hover{
    color: #CD853F;
}

.needsHighlight {
    background-color: saddlebrown;

}

.needsHighlight:hover{
    color: #CD853F;
}
