body{
    background-image: url("image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
#registerModal{
    background-image: url("erde2.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: center;
    padding: 50px;
    margin-top: 30px;
}
#registerModalLabel{
    font-family: "Comic Sans MS";
    font-size: 180%;
    font-weight: bold;
    text-align: center;
    color: #c0a16b;
}
#registerModal p {
    font-family: "Comic Sans MS";
    font-size: 140%;
    font-weight: bold;
    text-align: center;
    color: #c0a16b;
}
.form-group{
    font-family: "Comic Sans MS";
    font-size: 120%;
    text-align: center;
    color: #c0a16b;
}
.modal-footer button{
    font-family: "Comic Sans MS";
    font-weight: bold;
    font-size: 150%;
    text-align: center;
    display: inline-block;
    color: lightgray;
    border: none;
    border-radius: 20%;
    background-color: dimgray;
}
.modal-footer button:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.7), 0 6px 20px 0 rgba(0,0,0,0.4);
}
.btn-default{
    display:inline-block;
    margin-left: 10px;
    float: left;
}
.btn-primary{
    display: inline-block;
    float: right;
    margin-right: 10px;
}
.form-control{
    border: none;
    border-radius: 12px;
}
::placeholder{
    text-align: center;
    font-family: "Comic Sans MS";
    color: #8a6d3b;
    font-size: 100%;
}
