body{
    background-image: url("images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
p{
    font-family: "Comic Sans MS";
    font-size: 120%;
    font-weight: bold;
    background-image: url("images/erde.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}